
@{
    ViewBag.Title = "Log in";
}

<h2>Đăng nhập</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "TaiKhoan", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Sử dụng tài khoản đã đăng ký để đăng nhập</h4>
                <h5 class="text-danger">@ViewBag.MessageLogin</h5>
                <hr />
                
                <div class="form-group">
                    <label class="form-lable col-md-2">
                        Email
                    </label>
                    <div class="col-md-10">
                        <input type="email" name="Email" id="Email" required class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-lable col-md-2">
                        Mật khẩu
                    </label>
                    <div class="col-md-10">
                        <input type="password" name="Password" id="Password" required class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng nhập" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Tạo tài khoản mới", "PhuongThucDangKy","TaiKhoan")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial")
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}