@model TTHangHai.Models.tb_loaitau

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center">Thay đổi thông tin loại tàu</h2>
                        <div class="form-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.LoaiTau)

                            <div class="form-group">
                                @Html.LabelFor(model => model.TenLoai, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                <label class="control-label">Cơ quan thêm</label>
                                @Html.DropDownList("CoQuanThem", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CoQuanThem, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label" })
                                <div class="checkbox">
                                    <select name="TrangThai" id="TrangThai">
                                        @{
                                            if (Model.TrangThai == true)
                                            {
                                                <option selected value="true">Đã duyệt</option>
                                                <option value="false">Chưa duyệt</option>
                                            }
                                            else
                                            {
                                                <option value="true">Đã duyệt</option>
                                                <option selected value="false">Chưa duyệt</option>
                                            }
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Lưu lại" class="btn btn-success" />
                                <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                            }